
/* Remove padding or margin */
.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0;
}

/* Red glyphicon */
.glyphicon-red {
    color: #af1010;
    cursor: pointer;
}

/* Form component */
.refresh-button {
    font-size: 25px;
    cursor: pointer;
}
.collapse-button {
    font-size: 15px;
    cursor: pointer;
    margin-top: 5px;
}

/* Table widget */
.table .table-remove {
    color: #af1010;
}

/* Dynamic guides (redundant) */
#guide-panel .panel-body {
    padding: 0;
}

#guide-panel .panel-body hr {
    margin: 0;
}

#guide-panel .panel-body button {
    margin: 5px;
}

#guide-panel .table {
    margin: 0 2px 2px 0;
}

#guide-panel .glyphicon-plus {
    font-size: 20px;
    width: 100%;
    text-align: right;
}

#guide-edit-panel .panel {
    padding: 0;
    margin-top: 20px;
}

.column-container form {
    margin-bottom: 10px;
}

.column-container hr {
    margin: 0 0 10px;
    border: 1px dotted #d3d3d3;
    position: relative;
}

#guide-table tbody tr td:not(:last-child) {
    cursor: pointer;
}

.guide-column-handle {
    background-color: whitesmoke;
    border-radius: 5px;
}

.column-container .ui-sortable-helper {
    /*border: 1px dotted #d3d3d3;*/
}

#guide-edit-values-modal .modal-body {
    padding-bottom: 0;
}

.popover {
    width: auto;
    max-width: 100%;
}

.patient-info label {
    text-align: left;
}

/* Medcard search panel */
#medcard-search-button,
#medcard-register-button,
#medcard-edit-button {
    width: 200px;
}

#medcard-search-table-wrapper {
    height: auto;
    /*overflow: scroll;*/
    text-align: center;
    margin-bottom: -50px;
}

#medcard-table tr[data-id]:hover td,
#medcard-table .medcard-table-active td {
    background-color: #c3e8f7;
    cursor: pointer;
}

.medcard-viewer .panel-body {
    margin: 0;
    padding: 0;
}

.medcard-info {
    font-size: 14px;
}

/* Treatment room */
.treatment-header-wrapper {
    text-align: center;
    width: 100%;
    margin: 0;
}

.treatment-header {
}

.treatment-header-rounded {
    display: table;
    border: 1px #47a347 solid;
    border-radius: 3px;
    width: 100%;
    height: 55px;
    white-space: normal;
}

.treatment-header .btn-default {
    border-color: #47a347;
}

.treatment-header-rounded .row {
    margin: 0;
}

.treatment-header .dropdown-menu li {
    text-align: left;
}

.treatment-header-wrapper .active {
    background-color: #47a347;
    color: white;
    border: none;
}

.treatment-header-wrapper .treatment-header-rounded span.badge {
    border: 1px darkred solid;
    background-color: white;
    color: black;
    margin-left: 10px;
}

.treatment-header-rounded .container,
.treatment-table-wrapper,
.treatment-table-wrapper .table {
    padding: 0;
    margin: 0;
}

.treatment-header-wrapper .dropdown-menu a[data-toggle] {
    cursor: pointer;
}

.treatment-header-rounded {
    margin-bottom: 10px;
}
.treatment-center-block {
    padding-left: 10px;
    padding-right: 10px;
}

/* Medcard search modal window */
#medcard-search-modal button#load-button {
    min-width: 150px;
    width: auto;
}

/* Medcard editable view modal window */
.modal .text-center b {
    font-size: 15px;
}

.medcard-editable-viewer-number b {
    font-size: 20px;
}

.medcard-editable-viewer-number #card_number:empty:after {
    content: '0000/00';
}

/* Address component */
.laboratory-address .address-edit-button {
    cursor: pointer;
}
.laboratory-address .panel {
    margin-bottom: 0;
}
.laboratory-address .address-body {
    margin-top: 5px;
}
.laboratory-address .panel-body {
    padding: 0;
}
.laboratory-address .panel-body input {
    margin: 0;
    border: 1px solid #d3d3d3;
    border-radius: 0;
}

#treatment-direction-creator {
    padding-top: 20px;
    padding-bottom: 20px;
}

.panel-body {
    margin-right: -1px;
}

.treatment-table-wrapper {
    margin-top: 75px;
}

.treatment-table-wrapper .panel {
    margin: 0;
}

.treatment-table-wrapper .panel-body {
    padding: 0;
}