
.multiple {
    width: 300px;
}


.multiple .multiple-value {
    min-height: 150px;
    overflow-x: auto;
    width: 100%;
}

.multiple-container {
    min-height: 20px;
    height: auto;
    padding: 5px 10px;
    width: 100%;
    margin-top: 5px;
}

.multiple-container .multiple-chosen {
    border-radius: 2px;
    padding: 2px;
}

.multiple-chosen div {
    text-align: right;
    padding-right: 5px;
}

.multiple-container .multiple-chosen:hover {
    background-color: #add8e6;
}

.multiple-container:empty:after {
    content: 'Нет элементов';
}

.multiple .multiple-control {
    width: 100%;
    margin-top: 5px;
}

.multiple-really-not-visible {
    display: none;
}