
.multiple {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    min-width: 300px;
    width: auto;
    display: inline-block;
}

.multiple .multiple-value {
    min-height: 150px;
    overflow-x: auto;
    width: 100%;
}

.multiple-container {
    min-height: 20px;
    height: auto;
    padding: 5px 10px;
    width: 100%;
    margin-top: 5px;
}

.multiple-chosen {
    border-radius: 2px;
    padding: 2px;
    margin: 0;
}

.multiple-chosen div {
    text-align: right;
    height: auto;
    width: calc(100% - 15px);
    float: left;
    padding-right: 5px;
}

.multiple-container .multiple-chosen:hover {
    background-color: #add8e6;
}

.multiple-container:empty:after {
    content: 'Нет элементов';
}

.multiple-control {
    width: 100%;
    margin-top: 5px;
}

.multiple-really-not-visible {
    display: none;
}

.multiple-down-button,
.multiple-up-button,
.multiple-collapse-button {
    margin-right: 2px;
}