.tabmark {
  display: none;
}

#hospitalizationNavbar, #bedsstockNavbar {
	li {
		width: 25%;
		text-align: center;
		position: relative;
		.roundedLabel {
			position: absolute;
			border: 1px solid #000000;
			border-radius: 10px;
			padding: 10px;
			top: -5px;
			left: 96%;
			z-index: 99;
			background: #ffffff;
		}
		.roundedLabelText {
			position: absolute;
			z-index: 100;
			top: -2px;
			left: 96.5%;
			width: 20px;
			display: block;
			max-width: 20px;
			text-align: center;
		}
	}
}

#refuseCommentContainer {
  display: none;
}
#refuseComment {
  width: 240px;
  height: 100px;
}

.hospitalizationSide {
	max-width: 200px;
	#sideCalendar {
		margin-top: 10px;
	}
}
.hospitalizationTable, .guidesTable {
	margin-left: 10px;
	.tab-pane {
		text-align: center;
        padding-top: 10px;
		img.ajaxLoader {
			position: relative;
			top: 100px;
		}
        .changeHospitalizationDate {
          display: block;
          text-align: center;
        }
	}
}
.tableBlock {
	margin: 10px 0 0 0;
	border: 1px solid #dddddd;
	border-radius: 4px;
}

.summaryPanel {
	padding-bottom: 10px;
}

/***** Popup with comission date ******/

#helperIcon {
  height: 64px;
  width : 64px;
  position: fixed;
  top: 60px;
  left: 90%;
}
.bedsstockExpanderBody, .relocationExpanderBody, .settingsFormCont {
  display: none;
}

.bedsstockExpanderBody, .expander, .wardsWidget {
  td {
    overflow: hidden;
  }
  .cont {
    background: #ffffff !important;
    padding-bottom: 10px;
  }
  .wrap {
    width: 200%;
  }
  .left, .right {
    width: 50%;
    max-width: 50%;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .left, .right {
    position: relative;
    .back {
      position: absolute;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      top: 10px;
      left: 10px;
      span {
        position: relative;
        top: -3px;
      }
    }
    .reserveBed {
      font-size: 13px;
      margin-left: 10px;
    }
    .reserveForm {
      display: none;
      width: 70%;
      margin-left: 10px;
      position: relative;
      top: -5px;
      .form-group {
        min-width: 40%;
      }
      .form-group + .form-group {
        min-width: 25%;
      }
      button {
        position: relative;
        top: 10px;
      }
    }
  }

  .relocationForm {
    padding: 10px;
    button {
      position: relative;
      top: 10px;
    }
  }

  td {
    padding: 0 !important;
  }
  ul.filter {
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    li {
      float: left;
      list-style: none;
      margin-right: 10px;
      ul {
        font-weight: normal;
        padding: 0;
        li {
          float: none;
        }
      }
      input[type="checkbox"] {
        margin-right: 10px;
        margin-left: -5px;
      }
    }
    #wardType {
      min-width: 100px;
    }
  }
  ul.wardsList {
    li {
      display: inline-block;
      width: 150px;
      height: 150px;
      list-style: none;
      text-align: center;
      padding: 0 5px 5px 0;
      margin-right: 10px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
      cursor: pointer;
      .wardType, .paidType, .numFree {
        display: block;
      }
    }
    .numFree {
      margin-top: 50px;
    }
    .new { // Suck.
      position: relative;
      top: 15px;
      #addNewWard {
        position: absolute;
        top: 50px;
        font-size: 35px;
        left: 50px;
        width: 50px;
        padding: 0;
      }
    }
  }
  ul.bedsList {
    margin: 10px;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }
}

.expander {
  td {
    position: relative;
  }
  .expander-arrow {
    width: 0;
    height: 0;
    left: 20%;
    border: 20px solid transparent;
    position: absolute;
    border-bottom: 0;
  }

  .cont {
    padding-top: 30px;
  }
}

.wardsWidget {
  ul.wardsList {
    li {
      position: relative;
      .settings {
        position: absolute;
        left: 130px;
      }
    }
  }
  .filter {
    .roundedLabel {
      border: 0;
      border-radius: 10px;
      z-index: 99;
      background: #ff1263;
      padding: 2px 10px;
    }
    .roundedLabelText {
      z-index: 100;
      width: 20px;
      max-width: 20px;
      text-align: center;
      left: 10px;
      margin-left: -14px;
      color: #ffffff;
      font-weight: bold;
    }
  }
}

.popover-wardedit, .popover-wardadd {
  min-width: 500px;
  .popover-title {
    margin-top: 0;
  }
  .popover-content {
    width: 100%;
    .control-label {
      display: inline-block;
      text-align: left;
      padding-left: 0;
    }
  }
  .settingsForm {
    .form-group {
      margin: 5px 0;
    }
  }
}