#accordionD {
  .directionsList {
    .cont {
      min-height: 50px;
      max-height: 200px;
      overflow-y: scroll;
      /*
      list-style: none;
      */
      padding: 5px 0px 5px 20px;
      
    }
    .btns {
      margin-top: 10px;
    }
    #toConsultationBtn {
      float: right;
    }
  }
  .directionAdd {
    #directionAddSubmit {
      margin-left: 42.5%;
    }
  }
}